<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=0">
    <!-- favicon -->
    
    <!-- fontawesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <!-- personal fontawesome kit -->
    <script src="https://kit.fontawesome.com/a166556e40.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- external css -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
	<title>Home page</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="admin/user">User</a></li>
        </ul>
    </nav>
    <div class="jumbotron">
	  <div class="container px-1 py-3">
        <div class="row">
            <div class="col-md-3" id="profile">
                <div class="card pl-3">
                    <div class="card-body">
                    	<div class="input-group mb-5">
                    		<div class="input-group-append">
			                    <button class="btn btn-outline-primary" type="button" id="button-addon2">
			                        <i class="fa fa-search"></i>
			                    </button>
			                </div>
			                <input type="text" placeholder="Search" id="search" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
			            </div>
			            <div class="mr-2">
                            <img class="rounded-circle" width="50" src="assets/images/7.jpg" alt="">
                        </div>
                        <div class="h5 mt-4">Tanya Shah</div>
                        <div class="h6 text-muted mb-5">Photographer</div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted"><i class="fa fa-history mr-4"></i>Timeline</div>
                        </li>
                        <li class="list-group-item">
                            <div class="h6 text-muted"><i class="fa fa-user mr-4"></i>Activity</div>
                        </li>
                        <li class="list-group-item">
                        	<div class="h6 text-muted"><i class="fa fa-envelope mr-4"></i>Message<span class="badge badge-primary ml-5">5</span></div>
                        </li>
                        <li class="list-group-item mb-5">
                        	<div class="h6 text-muted"><i class="fa fa-image mr-4"></i>Gallery</div>
                        </li>
                        <li class="list-group-item">
                        	<div class="h6 text-muted"><i class="fa fa-wrench mr-4"></i>Settings</div>
                        </li>
                        <li class="list-group-item mb-5">
                        	<div class="h6 text-muted"><i class="fa fa-power-off mr-4"></i>Logout</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 gedf-main">

                <div class="card gedf-card">
                   
                    <div class="card-body" id="postcard">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                                <div class="form-group">
                                    <label class="sr-only" for="message">post</label>
                                    <textarea class="form-control pt-4" id="message" rows="5" placeholder="Write Something..."></textarea>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Upload image</label>
                                    </div>
                                </div>
                                <div class="py-4"></div>
                            </div>
                        </div>

                        <a href="#" class="card-link"><i class="fa fa-paperclip mr-3"></i></a>
                        <a href="#" class="card-link"><i class="fa fa-map-marker mr-3"></i></a>
                        <a href="#" class="card-link"><i class="fa fa-mail-forward mr-3"></i></a>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">Post</button>
                        </div>
                        
                    </div>
                    
                </div>
                
                <div class="card gedf-card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center pt-5">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" src="assets/images/6.jpg" alt="">
                                </div>
                                <div class="ml-2">
                                    <div class="h5 m-0">Barbara Smith<span class="text-muted h7" style="margin-left: 260px; font-size: 12px;">35 mins ago</span></div>
                                    <div class="h7 text-muted">Photographer</div>
                                </div>
                            </div>
                            <div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        
                        <p class="card-text text-muted">
                            Best ever photoshoot for new female fashion show, enjoyed a lot. Really excited to show some event information.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link"><i class="fa fa-thumbs-up mr-2"></i> 26</a>
                        <a href="#" class="card-link"><i class="fa fa-comment mr-2"></i> 05</a>
                        <a href="#" class="card-link"><i class="fa fa-share-alt mr-2"></i> 01</a>
                    </div>
                </div>
                
                <div class="card gedf-card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center pt-5">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" src="assets/images/5.jpg" alt="">
                                </div>
                                <div class="ml-2">
                                    <div class="h5 m-0">George Jones<span class="text-muted h7" style="margin-left: 260px; font-size: 12px;">55 mins ago</span></div>
                                    <div class="h7 text-muted">Fashion Designer</div>
                                </div>
                            </div>
                            <div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        
                        <p class="card-text text-muted pb-3">
                            My Clicked Designs from the show
                        </p>

                        <div class="card-group">
						  <div class="card mr-3">
						    <img src="assets/images/8.jpg" class="card-img-top" alt="...">
						  </div>
						  <div class="card mr-3">
						    <img src="assets/images/9.jpg" class="card-img-top" alt="...">
						  </div>
						  <div class="card">
						    <img src="assets/images/10.jpg" class="card-img-top" alt="...">
						  </div>
						</div>
                    </div>
                    <div class="card-footer">
                        
                    </div>
                </div>
                
            </div>
            <div class="col-md-3" id="suggested">
	            <div class="card mb-5">
				  <img src="assets/images/1.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
				  	<p class="card-text" id="popular">Popular</p>
				  	<h6>Best Dressed this week</h6>
				    <p class="card-text">Overseas, Natalie Portman gave the mo dark florals some love, stepping out in a black Valentino.</p>
				    <p class="text-muted h7" style="font-size: 12px; margin-left: 140px;">30 Jan 2016</p>
				  </div>
				</div>
                <div class="card gedf-card">
                    <div class="card-body">
                        <h6 class="card-title mt-3 mb-5">Suggested people<span class="ml-5">:</span></h6>
                        
                        <div class="d-flex mb-4">
                            <div class="mr-1">
                                <img class="rounded-circle" width="45" src="assets/images/2.jpg" alt="">
                            </div>
                            <div class="ml-1">
                                <div class="h6 m-0 mt-1" style="font-size: 14px;">Susana Mendis</div>
                                <div class="h7 text-muted" style="font-size: 12px;">Fashion Designer<span><i class="fa fa-plus-circle fa-2x" style="margin-left: 42px;"></i></span></div>
                            </div>
                            
                        </div>
                        <div class="d-flex mb-4">
                            <div class="mr-1">
                                <img class="rounded-circle" width="45" src="assets/images/3.jpg" alt="">
                            </div>
                            <div class="ml-1">
                                <div class="h6 m-0 mt-1" style="font-size: 14px;">Neel Litoriya</div>
                                <div class="h7 text-muted" style="font-size: 12px;">Cyber Punk<span><i class="fa fa-plus-circle fa-2x" style="margin-left: 72px;"></i></span></div>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="mr-1">
                                <img class="rounded-circle" width="45" src="assets/images/4.jpg" alt="">
                            </div>
                            <div class="ml-1">
                                <div class="h6 m-0 mt-1" style="font-size: 14px;">Barbara Doe</div>
                                <div class="h7 text-muted" style="font-size: 12px;">Photographer<span><i class="fa fa-plus-circle fa-2x" style="margin-left: 60px;"></i></span></div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    
	  </div>
	</div>

</body>
</html>